*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}


body{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #282828;
}
h3{
    font-size: 8em;
    color: rgb(110, 110, 110);
    margin-bottom: 150px;
    margin-top: 250px;
}
h4{
    font-size: 5em;
    margin-bottom: 20px;
}
h5{
    font-weight: 600;
    font-size: 4em;
    margin-bottom: 10px;
    margin-top: 20px;
}

p{
    font-size: 2.5em;
}
p{
    font-weight: 200;
    line-height: 1.5em;
}
b{
    font-size: 1.8em;
    font-weight: 400;
    color: rgb(223, 160, 186) ;
    word-spacing: 5px;
    line-height: 2.2em;
}

section {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
}

section:not(.fullwidth) {
    max-width: 800px;
}
/*-------header-------*/

.site-header{
    z-index: 10;
    top: 0px;
    position: fixed ;
    width: 100vw;
    height: 150px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.65);
}
.header-nav a{
    color: #282828;
    margin-right: 30px;
}
.logo{
    color: #282828;
    font-weight: 500;
    font-size: 4em;
}
/*------------------MENU_BURGER-------------------*/
.ham {
    /* keep the hamburger button above everything */
    z-index: 100;
    width: 5rem;
    height: 5rem;
    border: black solid 1px;
    background: white;
    cursor: pointer;
  }
  .material-icons{
      font-size: 60px;
      font-weight: 100;
  }
  .material-icons:not(.menuIcon,.xIcon) {
    margin-right: 40px;
  }
  .xIcon {
    display: none;
  }
  
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#282828 50%, #4d4d4d );
    color: white;
    transform: translateY(-100%);
    transition: transform 1s;
    list-style: none;
    padding-top: 20%;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
}
  
  .showMenu {
    transform: translateY(0);
  }
  
  li {
    padding: 2rem 0 ;
    
    margin: 0 0 0 20%;
  }
  
  .menuLink {
    display: inline;
    font-size: 10vw;
    color: white;
    text-decoration: none;
  }
  
  .menuLink:hover {
    text-decoration: underline;
  }

/*------------------MENU_BURGER_END-------------------*/
/*-------Sectin intro-------*/
.intro {
    margin-top: 400px;
    display: flex;
    align-items: start;
    justify-content: center;
    background-image: url("../img/image_background_index.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 100% ;
    height: 600px;
    min-height: 400px;
}
.intro-content{
    text-align: center;
}
.intro-content h1{
    font-size: 6em;
    font-weight: 700;
}
.intro-content h2{
    font-size: 4em;
    color: rgb(110, 110, 110);
}

.arrow{
    position: absolute;
    margin-top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 25px;
    height: 25px;
    border-bottom: 3px solid #2b2b2b;
    border-right: 3px solid #2b2b2b;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
    -webkit-animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
/* -----about----- */
.about{
margin-top: 100px;
}

/* -----button about----- */
.button-about{
    overflow: visible;
    cursor: pointer;
    font-size: 3em;
    display:inline-block;
    padding:0.5em 1em 0.5em 1em;
    margin:50px 1em 1em 0;
    border-radius:2em;
    box-sizing: border-box;
    color:#FFFFFF;
    background-color:#282828;
    text-align:center;
    transition: all 0.2s;
    -webkit-border-radius:2em;
    -moz-border-radius:2em;
    -ms-border-radius:2em;
    -o-border-radius:2em;
}
.button-about span img{
    margin-left: 10px;
    width: 40px;
}

 /*------work------*/
  .grid-container img{
      max-height: 900px;
      max-width: 900px;
  }

  .grid-container {
      margin-top: 150px;
      justify-content: center;
    display: grid;
    grid-template-columns: 900px;
    grid-template-rows: 900px 900px 900px 900px;
    gap: 5px 5px;
    grid-template-areas:
      "modelisation-3d"
      "flat-design"
      "design-random"
      "infographie"
      "la-galerie"
      "stak"
      "skin-osu"
      "affiches";
  }
  .affiches { grid-area: affiches; }
  .la-galerie { grid-area: la-galerie; }
  .infographie { grid-area: infographie; }
  .stak { grid-area: stak; }
  .skin-osu { grid-area: skin-osu; }
  .design-random { grid-area: design-random; }
  .flat-design { grid-area: flat-design; }
  .modelisation-3d { grid-area: modelisation-3d;}



  /*------contact------*/
.work h3{
    margin-bottom: 80px;
}
.Mail{
    margin-top: 50px;
}
.contact b{
    font-size: 4em;
}
 /*------footer------*/
footer{
    padding-top: 40px;
    text-align: center;
    height: 100px;
    background-color: #282828;
    margin-top: 100px;
}
footer a{
    top: 10px;
    color: white;
    opacity: 0.5;
    letter-spacing: 0;
    font-size: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}